/* room */
.index_room {
    display   : flex;
    width     : 100%;
    height    : 596px;
    position  : relative;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2);

    h1 {
        position: absolute;
        top     : 32px;
        left    : 50px;
        z-index : 2;

        a {
            display    : block;
            width      : 164px;
            height     : 53px;
            background : url(../IMG/index_icon/logo_block.svg) no-repeat;
            text-indent: 101%;
            white-space: nowrap;
            overflow   : hidden;
        }
    }
}

@include phone {
    .index_room {
        height: 298px;

        h1 {
            top : 20px;
            left: 20px;

            a {
                background-size: 80%;
            }
        }
    }
}

//All room image
.image_left {
    width   : 70%;
    height  : 596px;
    overflow: hidden;

    a {
        display            : block;
        height             : 596px;
        background-position: center bottom;
        background-size    : cover;
        transition         : all 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.image_right {
    width : 30%;
    height: 596px;

    .image_small {
        height  : 50%;
        overflow: hidden;

        a {
            display            : block;
            height             : 100%;
            background-position: center;
            background-size    : cover;
            transition         : all 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@include phone {
    .image_left,
    .image_right {
        height: 298px;
    }

    .image_left {
        width: 60%;

        a {
            height: 298px;
        }
    }

    .image_right {
        width: 40%;
    }
}

//single room info
.content {
    display        : flex;
    justify-content: space-between;
    padding        : 50px 60px 70px;

    .maininfo {
        margin-right: 40px;
        display     : flex;
    }

    .infobox {
        margin-right: 36px;
    }
}

@include ipad {
    .content {
        flex-direction: column;

        .maininfo {
            margin: 0 auto;
        }
    }
}

@include phone {
    .content {
        padding: 30px 20px 70px;

        .maininfo {
            flex-direction: column;
        }

        .infobox {
            width : 100%;
            margin: 0 auto;
        }
    }
}

.room_info {
    font-size     : 14px;
    letter-spacing: 1px;
    line-height   : 1.5;

    h2 {
        font-size    : 36px;
        font-weight  : bold;
        margin-bottom: 30px;
    }

    ul {
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
        }
    }

    .align {
        width    : 100%;
        font-size: 12px;
    }
}

@include phone {
    .room_info {
        h2 {
            font-size: 28px;
        }
    }
}

.check_in_out {
    display        : flex;
    justify-content: space-between;

    span {
        font-size: 20px;
    }
}

.servicelist {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
    margin-top      : 40px;
    padding         : 20px 20px 0 20px;
    background-color: #F0F0F0;

    .offer {
        width        : 30%;
        display      : flex;
        align-items  : center;
        margin-bottom: 20px;
        opacity      : 0.3;
    }

    i {
        text-align  : center;
        width       : 20px;
        font-size   : 20px;
        margin-right: 16px;
    }

    p {
        font-size: 12px;
    }

    .active {
        opacity: 1;
    }
}

.room_price {
    text-align    : right;
    font-size     : 12px;
    line-height   : 1.5;
    letter-spacing: 1px;
    color         : #6D7278;

    p {
        margin-top: 10px;
    }

    span {
        color    : #000;
        font-size: 16px;
    }

    .normal_price {
        font-size: 30px;
    }
}

@include phone {
    .servicelist {
        .offer {
            width: 48%;
        }
    }
}

//calendar_area

.datepicker {
    letter-spacing: 2px;
    max-width     : 380px;
    margin        : 0 auto;
    background    : #F7F7F7;
    box-shadow    : 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 10px 20px 0;
    .datehead {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        text-align     : center;
        font-weight    : bold;
        padding        : 0 20px;

        a {
            display        : block;
            text-decoration: none;
            color          : #6D7278;
            padding        : 20px;
        }

        i {
            font-size: 20px;
        }
    }

    .datebody {
        display: table;
        margin : 0 auto;
    }

    .datebox {
        display: flex;
        margin : 0 auto;

        .dateitem {
            color      : #6D7278;
            width      : 44px;
            height     : 44px;
            margin     : 2px;
            line-height: 40px;
            text-align : center;
            border     : 1px solid transparent;
        }

        .picker {
            &:hover {
                background-color: rgb(220, 240, 255);
                color           : rgb(100, 150, 150);
                cursor          : pointer;
            }
        }

        .today {
            color : rgb(80, 150, 200);
            border: 1px solid rgb(100, 180, 200);
        }

        .no-choose {
            opacity: 0.4;
        }

        .picker_item {
            color           : rgb(50, 60, 80);
            background-color: rgb(210, 230, 250);
            border          : 1px solid transparent;
        }

        .picker_between {
            background-color: rgba(220, 240, 250, 0.5);
        }
    }

    .datebox:last-child {
        margin-bottom: 20px;
    }
}

@include ipad {
    .datepicker {
        display: none;
    }
}


.reserve {
    letter-spacing  : 2px;
    color           : #FFF;
    background-color: #575757;
    margin-top      : 26px;
    padding         : 24px 16px;
    border          : none;
    box-shadow      : 2px 2px 5px rgba(0, 0, 0, 0.15);
    transition      : all 0.3s;
    outline         : none;

    &:hover {
        cursor   : pointer;
        transform: scale(1.05);
    }

    &:active {
        transform       : scale(0.9);
        color           : #000;
        background-color: rgb(204, 204, 204);
    }
}

@include ipad {
    .reserve {
        width     : 100%;
        margin-top: 40px;
    }
}

// booking_view

.booking_view{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -60px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    &.active{
        visibility: visible;
        opacity: 1;
    }
}

.booking_info{
    position: absolute;
    padding: 30px 0;
    width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    background-color: #FFF;
    opacity: 0;
    transition: all 1s;
    &.active{
        transform: translate(-50%,-50%);
        opacity: 1;
    }
}

@include phone{
    .booking_view{
        bottom: 0;
    }
    .booking_info{
        width: 90%;
    }
}

.user_booking{
    margin-bottom: 30px;
    padding: 0 42px;
    h2{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    p{
        font-size: 9px;
        margin-bottom: 30px;
    }
}

@include phone {
    .user_booking{
        padding: 0 20px;
    }
}

.form_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    label{
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
    }
    .form_style{
        width: 243px;
        line-height: 32px;
        padding-left: 16px;
        border: 1px solid #C9C9C9;
        border-radius: 5px;
        outline: none;
        &:focus{
            box-shadow: 0px 0px 5px 5px rgba(180, 219, 255, 0.5);
        }
    }
    .input_group{
        width: 243px;
        .check_time{
            display: inline-block;
            width: 44.44444%;
            .form_style{
                position: relative;
                width: 100%;
                .datepicker_sm{
                    bottom: -10px;
                    position: absolute;
                }
            }
        }
    }
}

@include phone {
    .form_item{
        flex-direction: column;
        align-items: flex-start;
        label{
            margin-bottom: 10px;
        }
        .form_style{
            width: 100%;
            line-height: 44px;
            font-size: 20px;
        }
        .input_group{
            width: 100%;
        }
    }
}


.days{
    padding: 15px 42px;
    background: #EDEDED;
    .days_text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 1.5;
    }
}
@include phone{
    .days{
        padding: 15px 20px;
    }
}

.costing{
    padding: 8px 42px 0;
    h3{
        text-align: right;
        font-size: 26px;
        font-weight: bold;
        color:#FF5C5C 
    }
    .btn_group{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        .btn{
            padding: 10px 24px;
            outline: none;
            border: none;
            transition: all 0.3s;
            &:hover{
                cursor: pointer;
                transform: scale(1.05);
            }
        }
        .cancel{
            background: #D8D8D8;
            color: #6D7278;
            &:active{
                transform: scale(0.9);
            }
        }
        .sure{
            background: #484848;
            color: #FFF;
            &:active{
                transform: scale(0.9);
            }
        }
    }
    @include phone{
        .btn_group{
            flex-direction: column-reverse;
            .btn{
                width: 100%;
                padding: 20px 24px;
                margin-bottom: 20px;
            }
        }
    }
}

/* room */